
body  {
	background-color:#111111;
	color: #bbbbbb;
}
.word{
	width:100%;
}

.word .prev, .word .next {
	color: #444444;
}

.word .cur{
	/*text-align:center;*/
	width:50%;
}

.word .prev{
	text-align:right;
	width:25%;
}
.word .next{
	text-align:left;
	
}

.word>span>span{
	
	display:inline-block; 
}

.overview{
	width:100%;
	color: #666677;
}
span.left, span.right{
	width:49%;
	display:inline-block; 
}

.word{
	font:20px arial;
	margin: 20px 0px;
}
.overview{
	font:12px arial;
}

.overview span span span{
	color: #ff7777;
}

.prevLine{
	background-color:#171717;
	color: #777787;
}
.curLine{
	background-color:#202020;	
	color: #998888;
}
.nextLine{
	background-color:#171717;
	color: #777787;
}

.word_frame{
	width:100%;
	border-top:1px solid #aaaaaa;
	border-bottom:1px solid #aaaaaa;
	background-color:#171717;
}
.word_frame .cursor{
	display:block;
	height:6px;
	width:50%;
	border-right: 2px solid #DDDDDD;
}

.word_frame .word_container
{
	margin:7px 0;
}

.word_frame .word_container span
{
	margin: 0px;
	padding: 0px;
}

.middle_letter
{
	color: #ff9999;
}

.left_part
{
	width:48%;
	display:inline-block; 
	text-align:right;
}
.right_part
{
	width:51%;
}

.stringNumber
{
	text-align:right;
	display: inline-block;
	width:30px;
	overflow: hidden;
	left:-100px;
	color: #444444;
}